{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}


{# ----------------------- debut de SECTION PROGRAMMES ------------------------ #}
{# 
<div class="text-center text-5xl text-brown my-6 ">NOS PROGRAMMES</div>

<div class="text-brown"> 
<!-- ___________ code card 1 ___________ -->
    <div class="">    
        <div class="flex justify-center">
            <div
                class=" max-w-sm rounded-lg bg-white shadow-lg">
                <a href="#!">
                <img
                    class="rounded-t-lg"
                    src="{{asset('./assets/img/formule1.jpg')}}"
                    alt="plantes" />
                </a>
                <div class="p-6 text-center">
                    <div class="my-3">
                    </div>
                    <h5
                        class="mb-2 text-xl font-medium leading-tight">
                        EXPLORATION
                    </h5>
                    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                        Découvrez en douceur le concept de Personal Herborist </br> et ajoutez des notes herbacées dans votre quotidien.
                    </p>
                    <p class="mb-4 font-semibold">Votre BOX : La base</p>
                    <p class="mb-4 font-semibold">à partir de :  €</p>
                    <button
                        type="button"
                        class="inline-block rounded bg-primary px-6 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        Je me lance
                    </button>
                    <div class="my-6"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-6">
    </div>

</div> #}
{# 
<!-- ___________ code card 2 ___________ -->
    <div class="">    
        <div class="flex justify-center">
            <div
                class=" max-w-sm rounded-lg bg-white shadow-lg">
                <a href="#!">
                <img
                    class="rounded-t-lg"
                    src="{{asset('/assets/img/formule3ter.jpg')}}"
                    alt="plantes" />
                </a>
                <div class="p-6 text-center">
                    <div class="my-3">
                    </div>
                    <h5
                        class="mb-2 text-xl font-medium leading-tight">
                        CALME
                    </h5>
                    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                        Soulager votre Lorem, ipsum dolor sit amet consectetur adipisicing elit. </br> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="mb-4 font-semibold">Votre BOX : L'apaisante</p>
                    <button
                        type="button"
                        class="inline-block rounded bg-primary px-6 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        Je me lance
                    </button>
                    <div class="my-6"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-6">
    </div>
<!-- ___________ code card 3 ___________ -->
        
    <div class="">    
        <div class="flex justify-center">
            <div
                class=" max-w-sm rounded-lg bg-white shadow-lg">
                <a href="#!">
                <img
                    class="rounded-t-lg"
                    src="{{asset('/assets/img/formule2bis.jpg')}}"
                    alt="plantes" />
                </a>
                <div class="p-6 text-center">
                    <div class="my-3">
                    </div>
                    <h5
                        class="mb-2 text-xl font-medium leading-tight">
                        ENERGIE
                    </h5>
                    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                        Boostez votre Lorem, ipsum dolor sit amet consectetur adipisicing elit. </br> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <p class="mb-4 font-semibold">Votre BOX : L'énergique</p>
                    <button
                        type="button"
                        class="inline-block rounded bg-primary px-6 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                        data-te-ripple-init
                        data-te-ripple-color="light">
                        Je me lance
                    </button>
                    <div class="my-6"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-6">
    </div>

</div> #}
{# ----------------------- fin de SECTION PROGRAMMES ------------------------ #}


{% endblock %}
